<!doctype html>
<title>サイゼリヤ1000円ガチャ</title>
<meta charset="utf-8">
<meta name="viewport" content="width=750">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
<link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='apple-touch-icon.png')}}">　
<!-- Google Ad -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-7961076646821939",
    enable_page_level_ads: true
  });
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142979752-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-142979752-1');
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<div class=page>
  <div class = "heading">
    <h1>サイゼリヤ</h1>
    <h1>1000円ガチャ</h1>
  </div>
  {% block body %}{% endblock %}

</div>
