{% extends "layout.html" %}
{% block body %}

  <div class = "buttonarea">
    <!--
    <form action="{{ url_for('get_menus') }}" method=get class=add-entry>
      <button type=submit name=get value=Get class = "btn">ガチャを回す</button>
    </form>
  -->
    <a href="/get" class="btn">ガチャを回す</a>
  </div>


  <div class="result">
    {% for menu in menus %}
    <div class="box menu">
      <h2>{{ menu.name }}</h2>
        <p>{{ menu.price }}円　{{ menu.calorie }}kcal　塩分 {{ menu.salt }}g<p>
    </div>
    {% else %}
    {% endfor %}
    {% if menus %}
    <div class="box rst">
      <h2>計 {{ budget }}円　{{ calorie }}kcal　塩分 {{ salt }}g</h2>
    </div>
    {% endif %}

  </div>

  <div class="footer">
    <a href="https://twitter.com/share" class="twitter-share-button"  data-url="https://saizeriya-1000yen.herokuapp.com/" data-text="{{ text }}" data-lang="ja" data-count="horizontal" data-hashtags="サイゼリヤガチャ" data-size="large">Tweet</a>
  </div>
{% endblock %}
